{% extends 'base.html'%}
{% block content %}
<h1 class="text-center">Works log</h1>
<!--{% for user in users %}-->
<!--    <div>-->
<!--        <h2>Action # {{user.id}}</h2><br>-->
<!--        <table>-->
<!--            <thead>-->
<!--                <tr class="silder">-->
<!--                    <td>Title of activity</td>-->
<!--                    <td>Team leader</td>-->
<!--                    <td>Duration</td>-->
<!--                    <td>List of collaborators</td>-->
<!--                    <td>Is finished</td>-->
<!--                </tr>-->
<!--            </thead>-->
<!--        </table>-->

<!--    </div>-->
{% endfor %}
{%endblock%}